<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=2.0">
		<title>Cats or Dogs?</title>
		<link rel="stylesheet" href="../static/css/style1.css">
	</head>
	<body>
		<div class="container">
			<h1>Choose your favorite animals below: </h1>
			<button id="catButton">🐱Cats</button>
			<button id="dogButton">🐶Dogs</button>
		</div>
	</body>
	<script src="/static/js/script_vote.js"></script>
	<script src="/static/js/script_result.js"></script>

</html>