


<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Results</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/css/style2.css">
{#		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>#}
	</head>
	<body>
		<div class="container">
			<h1>Cat lovers🐱 VS. Dog lovers🐶</h1>
			<div id="results"></div> <!-- 用于显示投票结果 -->
				<div class="vote-container">
					<div class="vote-option-cat">
						<div class="vote-count-cats">Cats: {{ results.catvote}} vote</div>
                        <div class="vote-count-cats">Percent: {{ results.catpercent}}</div>
						<!-- 用于显示投票结果 <span class="TextCats">Cats</span>-->
{#						<center><span class="cat-percentage">{{ results.catpercent}}</span></center>#}
                        <div class="vote-count-cats2">Latest Vote Time: {{ results.timeCat}}</div>
					</div>
					<div class="vote-count-total">total: {{ results.total}} vote</div>
					<div class="vote-option-dog">
						<div class="vote-count-dogs">Dogs: {{ results.dogvote}} vote</div>
						<!-- <span class="TextDogs">Dogs</span>-->

						<div class="dog-percentage">Percent: {{ results.dogpercent}}</div>
                        <div class="vote-count-dogs2">Latest Vote Time: {{ results.timeDog}} </div>
					</div>
				</div>
			<button id="backButton">Click to return</button> <!-- 返回按钮 -->
			</div>
{#		<script src="/static/js/script_results.js"></script>#}
	</body>

</html>


